body {
  text-align: center;
  font-family: "Delius", cursive;
  font-weight: 400;
  font-style: normal;
  color: white;

  background-color:  #005249;

  min-width: 320px;
}

h1 {
  font-family: "Chewy", system-ui;
}

nav li{
  list-style-type: none;
  display: inline;
  margin: 10px;

}

nav a {
    color: white;
    text-decoration: none;
}

footer {

}
